body {
	background: url(paper.gif) no-repeat center center fixed;
	background-size: cover;
 background-repeat: no-repeat;
	color: #6633FF;
	font-weight: 500;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
	overflow: hidden;
	overflow-y: scroll;
	min-height: 700px;
}
.fs-form-full {
	top: 32%;
	margin: 0 auto;
	width: 70%;
}
.fs-form {
	position: relative;
	text-align: left;
	font-size: 2.5em;
}.fs-form-full,
.fs-message-error {
	max-width: 960px;
}.fs-fields {
	position: relative;
	margin: 0 auto;
	padding: 0;
	top: 0;
	list-style: none;
}
.fs-form {
	position: relative;
	text-align: left;
	font-size: 2.5em;
}	
.fs-progress {
	position: absolute;
	top: 0;
	width: 0%;
	height: 0.5em;
	background: #fffed8;
	-webkit-transition: width 0.3s ease-in-out;
	transition: width 0.3s ease-in-out;
}
